.button, .lockButton, .quizButton, .newQuizButton, .newUserButton, .backButton {
  background-color: rgb(150, 150, 150);
  border: none;
  border-radius: 4px;
  color: white;
  padding: 5px 18px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
}

.quizButton:hover, .newQuizButton:hover, .newUserButton:hover {
  background-color: rgb(100, 149, 237);
}

.backButton:hover {
  background-color: rgb(60, 102, 65);
}
 
.lockButton:hover {
  background-color: rgb(228, 47, 12);
}

.button:enabled:hover {
  background-color: rgb(50, 180, 50);
}

.button:disabled {
  color: rgb(100, 100, 100);
  opacity: 0.6;
  cursor: not-allowed;
}

label, input {
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: left;
}

		
#passwordField, #userField, #creatingUser, #creatingPassword1, #creatingPassword2, #creatingQuizView {
  margin-top: 1%;
  margin-bottom: 1%;
}

.button, .lockButton, .backButton {
	margin-top: 1%;
	margin-bottom: 1%;
	margin-right: 0.7%;
}

#quizSelectionMain {
  text-align: center;
  width: 100%;
}

.quizButton{
  display: block;
  float: center;
  text-align: center;
  width: 30%;
	margin-top: 0.7%;
	margin-bottom: 0.7%;
}

.newQuizButton {
	float: left;
	margin-left: 0%;
	margin-right: 1%;
	margin-top: 1%;
}

.newUserButton {
	float: left;
	margin-top: 1%;
}

#initialMain {
  width: 90%;
  text-align: center;
}
	
#passwordField, #userField {
  font-size: 16pt;
  color: rgb(0, 0, 0);
}

.link {
  font-size: 16pt;
  text-decoration: none;
}

.link:hover {
 text-decoration: underline;
 color: rgb(0, 0, 0);
}

.teamPointsArea, #maxPointsArea > .maxPoints {
  display: inline-block;
  padding: 5pt;
}

.teamPointsArea > .label > .pointsPerTeamLabel,
 .teamPointsArea > .input > .labeledInput,
 #maxPointsArea > .maxPoints, 
 #maxPointsArea > .labeledInput {
  font-size: 10pt;
}

.teamPointsArea > .input > .labeledInput,
#maxPointsArea > .labeledInput,
#teamsInQuiz > input   {
  max-width: 32pt;
}

#editingLabel, .link {
  color: rgb(100, 149, 237);
}

body {
  font-family: arial;
}

#editingLabel {
  font-size: 24pt;
  font-style: italic;
}

.roundNumber {
  display: inline-block;
  padding: 5pt;
}

#teamsInQuiz > label {
  font-size: 16pt;
  margin-top: 5pt;
  margin-bottom: 5pt;
  display: inline-block;
}

.roundNumber {
  font-size: 12pt;
}

#initialMain {
  display: inline-block;
}

#initialMain > #userField > label, #initialMain > #passwordField > label {
  width: 16%;
  display: inline-block;
}

#initialMain > #userField > input, #initialMain > #passwordField > input {
  width: 40%;
  display: inline-block;
}

#creatingQuizView {
  text-align: center;
}

#creatingQuizView label, #creatingQuizView input {
  width: 20%;
  display: inline-block;
  vertical-align: center;
}

#creatingQuizView label {
  text-align: left;
}

#creatingQuizView input {
  text-align: right;
}

#creatingUserView label {
  width: 16%;
  display: inline-block;
}

#creatingUserView input {
  width: 40%;
  display: inline-block;
}

html, head, body {
  height: 100%;
  width: 100%;
}

#feedbackArea {
  position: fixed;
  left: 1%;
  bottom: 1%;
  width: 100%;
}

#feedbackArea label {
  width: 75%;
}

@media screen and (orientation: portrait) {
  
  #initialMain {
    width: 95%;
  }



  #userField, #passwordField {
    /*display: block;*/
    /*display: inline-table;*/
    /*float: top;*/
    /*width: 100%;*/
  }

  #initialMain label {
    width: 100%;
    display: block;
    /*float: top;*/
  }

  #userField input, #passwordField input {
    font-size: 32pt;
    float: bottom;
    /*width: 100%;*/
  }

  #initialMain .button {
    width: 100%;
    background: green;
  }

}