.button, .lockButton, .quizButton {
  background-color: rgb(150, 150, 150);
  border: none;
  border-radius: 4px;
  color: white;
  padding: 5px 18px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
}

.lockButton:hover {
  background-color: rgb(228, 47, 12);
}

.button:hover {
  background-color: rgb(50, 180, 50);
}

.quizButton {
  display: block;
}

.quizButton:hover {
  background-color: rgb(100, 149, 237);
}

/*.button {
  position: absolute;
  left: 20px;
  top: 80px;
}*/

label, input {
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: left;
}
		
/*#passwordField {	
	position: absolute;
  left: 20px;
  top: 50px;
}

#userField {
	position: absolute;
  left: 20px;
  top: 20px;
}*/
	
#passwordField, #userField {
  font-size: 16px;
  color: rgb(0, 0, 0);
	width: 500px;
}

